@using CongCuDungCu.Models
@Html.DevExpress().GridLookup(
    Glooksettings =>
    {
        // settings.Properties.Caption = "Select tags:";
        Glooksettings.Name = "TenCCDC";
        Glooksettings.KeyFieldName = "TenCCDC";
        Glooksettings.Width = 350;
       
        Glooksettings.CommandColumn.Visible = true;
        Glooksettings.CommandColumn.ShowSelectCheckbox = true;
        Glooksettings.CommandColumn.Width = 40;
       
        Glooksettings.Columns.Add(col =>
        {
            col.Caption = "Mã CCDC";
            col.FieldName = "MaCCDC";
            col.HeaderStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;
            col.Width = 120;
        });
        Glooksettings.Columns.Add(col =>
        {
            col.Caption = "Tên CCDC";
            col.FieldName = "TenCCDC";
            col.HeaderStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;
           // col.Width = 120;
          //  col.Settings.AllowAutoFilter = DefaultBoolean.False;
        });
        Glooksettings.Columns.Add(col =>
        {
            col.Caption = "SL hiện có";
            col.FieldName = "SoLuong";
            col.HeaderStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;
            col.Width = 65;
            col.CellStyle.BackColor = System.Drawing.Color.FromName("#CCFFCC");  //màu xanh
            //  col.Settings.AllowAutoFilter = DefaultBoolean.False;
        });
        Glooksettings.Properties.SelectionMode = GridLookupSelectionMode.Single;
        Glooksettings.Properties.TextFormatString = "{0}-{1}";

       // Glooksettings.Properties.Height = 550;
        Glooksettings.GridViewProperties.CallbackRouteValues = new { Controller = "NhapDuLieu", Action = "GridLookup_XuatPartial"};
        Glooksettings.GridViewProperties.Settings.ShowFilterRow = true;
        Glooksettings.GridViewProperties.Settings.ShowStatusBar = GridViewStatusBarMode.Visible;

        Glooksettings.GridViewProperties.SettingsPager.Position = System.Web.UI.WebControls.PagerPosition.Bottom;
        Glooksettings.GridViewProperties.SettingsPager.FirstPageButton.Visible = true;
        Glooksettings.GridViewProperties.SettingsPager.LastPageButton.Visible = true;
        Glooksettings.GridViewProperties.SettingsPager.PageSize = 60;
        Glooksettings.GridViewProperties.SettingsPager.ShowNumericButtons = false;

        Glooksettings.ControlStyle.ForeColor = System.Drawing.Color.Red;
        Glooksettings.ControlStyle.CssClass = "lineTEST";
        /*Scroll*/
        Glooksettings.GridViewProperties.Settings.VerticalScrollBarMode = ScrollBarMode.Visible;
        Glooksettings.GridViewProperties.Settings.VerticalScrollableHeight = 350;        
        Glooksettings.GridViewClientSideEvents.BeginCallback = "OnBeginCallback";
      //  settings.ClientSideEvents.SelectionChanged = "OnSelectionChanged";
        //settings.ClientSideEvents.BeginCallback = "OnBeginCallback";
      //Glooksettings.GridViewProperties.Settings.VerticalScrollBarStyle = GridViewVerticalScrollBarStyle.Virtual;
        // Glooksettings.GridViewProperties.SettingsPager.Mode = GridViewPagerMode.EndlessPaging;
        //Glooksettings.GridViewProperties.SetStatusBarTemplateContent(cb =>
        //{
        //    ViewContext.Writer.Write("<div style=\"padding: 2px 8px 2px 0; float: right\">");
        //    Html.DevExpress().Button(
        //        btnSettings =>
        //        {
        //            btnSettings.Name = "btnClose";
        //            btnSettings.UseSubmitBehavior = false;
        //            btnSettings.Text = "Close";
        //            btnSettings.ClientSideEvents.Click = "CloseGridLookup";
        //        }
        //    )
        //    .Render();
        //    ViewContext.Writer.Write("</div>");
        //});
        Glooksettings.DataBound = (sender, e) =>
        {
            var gridLookup = (MVCxGridLookup)sender;
            gridLookup.GridView.Width = 600;
            
        };
        //lay gia tri khi click vào 1 row
        Glooksettings.GridViewProperties.HtmlRowPrepared = (sender, e) =>
        {
            e.Row.Attributes.Add("onclick", string.Format("OnRowClick('{0}');", e.GetValue("SoLuong"))

          );
        };
    }).BindList(ViewData["CCDCs"]).Bind(Model).GetHtml()