<div class="Slogan">
    Các Vấn Đề Liên Quan
</div>
<p>
    Phần mềm <a href="#">Quản Lý Công cụ dụng cụ</a>. 
</p>
<p style="margin-top: 10px;">
    Tất cả vấn đề liên quan đến chức năng, nghiệp vụ sử dụng phần mềm, vui lòng liên hệ <a href="#">Phòng Vật tư</a> để biết thêm chi tiết.   
</p>
<p style="margin-top: 10px;">
    Tất cả vấn đề liên quan đến lỗi sử dụng phần mềm, vui lòng liên hệ <a href="#">Phòng CNTT (a.Bình - 0966.510051 hoặc VoIP 3103)</a> để biết thêm chi tiết.
</p>
