@{ Layout = "~/Views/Shared/_Layout.cshtml"; }
@using CongCuDungCu.Controllers;
@model CongCuDungCu.Models.ChangePasswordModel
         
@{
    Html.EnableClientValidation();
}


@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { id = "validationForm", @class = "edit_form" }))
{
    @Html.DevExpress().FormLayout(settings =>
{
    settings.Name = "ModelValidationFormLayout";
    settings.Items.Add(model => model.OldPassword, CommonDemoHelper.FormLayoutItemSettingsMethod).HelpText = "Phải nhập đúng mật khẩu cũ";
    settings.Items.Add(model => model.NewPassword, CommonDemoHelper.FormLayoutItemSettingsMethod).HelpText = "Phải trên 6 ký tự";
    settings.Items.Add(model => model.ConfirmPassword, CommonDemoHelper.FormLayoutItemSettingsMethod).HelpText = "Nhập lại chính xác mật khẩu mới";
  
    settings.Items.Add(itemSettings =>
    {
        itemSettings.Caption = string.Empty;
        itemSettings.SetNestedContent(() =>
        {
            ViewContext.Writer.Write("<div class='line'>");
            Html.DevExpress().Button(btnSettings =>
            {
                btnSettings.Name = "btnUpdate";
                btnSettings.Text = "Đồng ý";
                btnSettings.ControlStyle.CssClass = "button";
                btnSettings.UseSubmitBehavior = true;
            }).Render();
            Html.DevExpress().Button(btnSettings =>
            {
                btnSettings.Name = "btnClear";
                btnSettings.Text = "Hủy";
                btnSettings.ControlStyle.CssClass = "button";
                btnSettings.ClientSideEvents.Click = "function(s, e){ ASPxClientEdit.ClearEditorsInContainer(); }";
            }).Render();
            ViewContext.Writer.Write("</div>");
        });
    });
}).GetHtml();
}
<p>
    (*): Đòi hỏi phải có.
</p>